pip>=19.2.3
wheel>=0.33.6
flake8>=3.7.8
coverage>=4.5.4
Sphinx>=1.8.5
sphinx-rtd-theme
twine>=1.14.0
numpy>=1.19.0

pytest>=6.2.4
pyyaml>=5.4.1
sphinx-autodoc-typehints
jsonschema>=3.2.0
typing_extensions
coverage
coveralls
pint
h5py>=3.1.0
